<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="http://via.placeholder.com/350x150" />
    <img src="http://via.placeholder.com/500x250" />
  </body>
</html>
